In [1]:
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.0.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:7 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:12 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-08-16 03:58:20--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.2’

postgresql-42.2.16. 100%[===================>] 979.38K  5.99MB/s    in 0.2s

2021-08-16 03:58:20 (5.99 MB/s) - ‘postgresql-42.2.16.jar.2’ saved [1002883/1002883]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [4]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url_us_total ="https://ucb-data-group-project-zillow-s3.s3.us-west-1.amazonaws.com/us_total_final.csv"
spark.sparkContext.addFile(url_us_total)
us_total_df = spark.read.csv(SparkFiles.get("us_total_final.csv"), sep=",", header=True, inferSchema=True)

In [5]:
# Show DataFrame
us_total_df.show()

+--------------------+----------+---------+-------------+----------+------------+----------+----------+--------------------+---------------+
|         region_date|      date|size_rank|  region_name|  latitude|   longitude|list_price|sale_price|list_divided_by_sale|list_minus_sale|
+--------------------+----------+---------+-------------+----------+------------+----------+----------+--------------------+---------------+
|unitedstates20171104|2017-11-04|        0|United States|39.7837304|-100.4458825|  275448.0|  235099.0|   85.35150010165258|        40349.0|
|unitedstates20171111|2017-11-11|        0|United States|39.7837304|-100.4458825|  275448.0|  234750.0|   85.22479742092881|        40698.0|
|unitedstates20171118|2017-11-18|        0|United States|39.7837304|-100.4458825|  275448.0|  235750.0|    85.5878423513694|        39698.0|
|unitedstates20171125|2017-11-25|        0|United States|39.7837304|-100.4458825|  274975.0|  235916.0|   85.79543594872261|        39059.0|
|unitedstates20171202|2017-12-02|        0|United States|39.7837304|-100.4458825|  274825.0|  237166.0|   86.29709815337033|        37659.0|
|unitedstates20171209|2017-12-09|        0|United States|39.7837304|-100.4458825|  274075.0|  238591.0|    87.0531788743957|        35484.0|
|unitedstates20171216|2017-12-16|        0|United States|39.7837304|-100.4458825|  272825.0|  238841.0|   87.54366352057178|        33984.0|
|unitedstates20171223|2017-12-23|        0|United States|39.7837304|-100.4458825|  271575.0|  239650.0|    88.2444996778054|        31925.0|
|unitedstates20171230|2017-12-30|        0|United States|39.7837304|-100.4458825|  270450.0|  241059.0|   89.13255684969495|        29391.0|
|unitedstates20180106|2018-01-06|        0|United States|39.7837304|-100.4458825|  269925.0|  239447.0|   88.70871538390294|        30478.0|
|unitedstates20180113|2018-01-13|        0|United States|39.7837304|-100.4458825|  269900.0|  238197.0|    88.2537977028529|        31703.0|
|unitedstates20180120|2018-01-20|        0|United States|39.7837304|-100.4458825|  269925.0|  236972.0|   87.79179401685654|        32953.0|
|unitedstates20180127|2018-01-27|        0|United States|39.7837304|-100.4458825|  270950.0|  233563.0|   86.20151319431629|        37387.0|
|unitedstates20180203|2018-02-03|        0|United States|39.7837304|-100.4458825|  272200.0|  234250.0|   86.05804555473917|        37950.0|
|unitedstates20180210|2018-02-10|        0|United States|39.7837304|-100.4458825|  273475.0|  233700.0|   85.45570893134656|        39775.0|
|unitedstates20180217|2018-02-17|        0|United States|39.7837304|-100.4458825|  275725.0|  234450.0|   85.03037446731344|        41275.0|
|unitedstates20180224|2018-02-24|        0|United States|39.7837304|-100.4458825|  277200.0|  235950.0|   85.11904761904762|        41250.0|
|unitedstates20180303|2018-03-03|        0|United States|39.7837304|-100.4458825|  278975.0|  237700.0|   85.20476745228068|        41275.0|
|unitedstates20180310|2018-03-10|        0|United States|39.7837304|-100.4458825|  281475.0|  239000.0|   84.90984989785949|        42475.0|
|unitedstates20180317|2018-03-17|        0|United States|39.7837304|-100.4458825|  283975.0|  239551.0|   84.35636939871468|        44424.0|
+--------------------+----------+---------+-------------+----------+------------+----------+----------+--------------------+---------------+
only showing top 20 rows

In [6]:
url_ca_state ="https://ucb-data-group-project-zillow-s3.s3.us-west-1.amazonaws.com/ca_state_final.csv"
spark.sparkContext.addFile(url_ca_state)
ca_state_df = spark.read.csv(SparkFiles.get("ca_state_final.csv"), sep=",", header=True, inferSchema=True)

# Show DataFrame
ca_state_df.show()

+------------------+----------+---------+-----------+----------+-----------+----------+----------+--------------------+------------------+
|       region_date|      date|size_rank|region_name|  latitude|  longitude|list_price|sale_price|list_divided_by_sale|   list_minus_sale|
+------------------+----------+---------+-----------+----------+-----------+----------+----------+--------------------+------------------+
|california20171104|2017-11-04|     36.4| California|36.7014631|-118.755997|  614123.7|  508281.3|   82.76529630756801|105842.39999999997|
|california20171111|2017-11-11|     36.4| California|36.7014631|-118.755997|  613946.7|  514450.0|   83.79391891836865| 99496.69999999995|
|california20171118|2017-11-18|     36.4| California|36.7014631|-118.755997|  614898.4|  516943.9|   84.06980730475149|           97954.5|
|california20171125|2017-11-25|     36.4| California|36.7014631|-118.755997|  612118.7|  517912.7|    84.6098477305137| 94205.99999999994|
|california20171202|2017-12-02|     36.4| California|36.7014631|-118.755997|  608753.3|  517612.8|   85.02833578068487| 91140.50000000006|
|california20171209|2017-12-09|     36.4| California|36.7014631|-118.755997|  608399.3|  517747.5|    85.0999499835059| 90651.80000000005|
|california20171216|2017-12-16|     36.4| California|36.7014631|-118.755997|  608267.7|  511941.2|   84.16379827500295| 96326.49999999994|
|california20171223|2017-12-23|     36.4| California|36.7014631|-118.755997|  609372.0|  510903.7|   83.84101993527763|           98468.3|
|california20171230|2017-12-30|     36.4| California|36.7014631|-118.755997|  611030.8|  511653.6|   83.73613899659395| 99377.20000000008|
|california20180106|2018-01-06|     36.4| California|36.7014631|-118.755997|  609612.5|  509000.2|   83.49569603641658|          100612.3|
|california20180113|2018-01-13|     36.4| California|36.7014631|-118.755997|  608077.2|  508910.7|   83.69179110810273| 99166.49999999994|
|california20180120|2018-01-20|     36.4| California|36.7014631|-118.755997|  607682.7|  507343.8|   83.48827439056599|100338.89999999997|
|california20180127|2018-01-27|     36.4| California|36.7014631|-118.755997|  609083.3|  499618.7|   82.02797548381314|109464.60000000003|
|california20180203|2018-02-03|     36.4| California|36.7014631|-118.755997|  614276.0|  494361.3|   80.47869361655022|          119914.7|
|california20180210|2018-02-10|     36.4| California|36.7014631|-118.755997|  619167.8|  496598.3|   80.20415467341809|122569.50000000006|
|california20180217|2018-02-17|     36.4| California|36.7014631|-118.755997|  625491.7|  499740.2|     79.895576552015|125751.49999999994|
|california20180224|2018-02-24|     36.4| California|36.7014631|-118.755997|  631636.3|  514771.4|   81.49807096267267|116864.90000000002|
|california20180303|2018-03-03|     36.4| California|36.7014631|-118.755997|  636909.1|  524128.9|   82.29257518851591|112780.19999999995|
|california20180310|2018-03-10|     36.4| California|36.7014631|-118.755997|  641876.3|  532231.4|   82.91806380762151|109644.90000000002|
|california20180317|2018-03-17|     36.4| California|36.7014631|-118.755997|  645453.3|  537537.6|   83.28063393587111|107915.70000000008|
+------------------+----------+---------+-----------+----------+-----------+----------+----------+--------------------+------------------+
only showing top 20 rows

In [7]:
url_ca_city ="https://ucb-data-group-project-zillow-s3.s3.us-west-1.amazonaws.com/california_city_final.csv"
spark.sparkContext.addFile(url_ca_city)
ca_city_df = spark.read.csv(SparkFiles.get("california_city_final.csv"), sep=",", header=True, inferSchema=True)

# Show DataFrame
ca_city_df.show()

+--------------------+----------+---------+--------------------+----------+------------+----------+----------+--------------------+---------------+
|         region_date|      date|size_rank|         region_name|  latitude|   longitude|list_price|sale_price|list_divided_by_sale|list_minus_sale|
+--------------------+----------+---------+--------------------+----------+------------+----------+----------+--------------------+---------------+
|    sandiego20171104|2017-11-04|       17|       San Diego, CA|32.7174202|-117.1627728|  728005.0|  541438.0|   74.37284084587331|       186567.0|
|sanfrancisco20171104|2017-11-04|       11|   San Francisco, CA|37.7790262| -122.419906|  867930.0|  781063.0|   89.99147396679456|        86867.0|
|   riverside20171104|2017-11-04|       13|       Riverside, CA|33.9533546|-117.3961623|  388757.0|  342999.0|   88.22966531792353|        45758.0|
|losangeles-longbe...|2017-11-04|        2|Los Angeles-Long ...| 33.782237|-118.1519248|  812252.0|  611250.0|   75.25373898740784|       201002.0|
|    stockton20171104|2017-11-04|       77|        Stockton, CA|37.9577016|-121.2907796|  408007.0|  357875.0|   87.71295590516829|        50132.0|
|     ventura20171104|2017-11-04|       66|         Ventura, CA|34.4458248|-119.0779359|  779777.0|  583688.0|   74.85319520837368|       196089.0|
|  sacramento20171104|2017-11-04|       25|      Sacramento, CA|38.5810606| -121.493895|  466317.0|  392750.0|   84.22382199233569|        73567.0|
| bakersfield20171104|2017-11-04|       63|     Bakersfield, CA|35.3738712|-119.0194639|  265423.0|  224375.0|   84.53487452104753|        41048.0|
|     sanjose20171104|2017-11-04|       34|        San Jose, CA|37.3361905| -121.890583| 1086372.0|  980250.0|   90.23152290375673|       106122.0|
|      fresno20171104|2017-11-04|       56|          Fresno, CA|36.7394421|-119.7848307|  338397.0|  267125.0|   78.93834756218287|        71272.0|
| bakersfield20171111|2017-11-11|       63|     Bakersfield, CA|35.3738712|-119.0194639|  263917.0|  221875.0|    84.0699917019366|        42042.0|
|     ventura20171111|2017-11-11|       66|         Ventura, CA|34.4458248|-119.0779359|  774863.0|  591813.0|   76.37646913067213|       183050.0|
|      fresno20171111|2017-11-11|       56|          Fresno, CA|36.7394421|-119.7848307|  338397.0|  271875.0|   80.34202430872614|        66522.0|
|    stockton20171111|2017-11-11|       77|        Stockton, CA|37.9577016|-121.2907796|  406932.0|  366375.0|   90.03346996549793|        40557.0|
|    sandiego20171111|2017-11-11|       17|       San Diego, CA|32.7174202|-117.1627728|  725824.0|  546438.0|    75.2851931046645|       179386.0|
|   riverside20171111|2017-11-11|       13|       Riverside, CA|33.9533546|-117.3961623|  388782.0|  346686.0|   89.17233822553513|        42096.0|
|sanfrancisco20171111|2017-11-11|       11|   San Francisco, CA|37.7790262| -122.419906|  862817.0|  798750.0|   92.57467110638756|        64067.0|
|losangeles-longbe...|2017-11-11|        2|Los Angeles-Long ...| 33.782237|-118.1519248|  813533.0|  612500.0|   75.28889424276582|       201033.0|
|  sacramento20171111|2017-11-11|       25|      Sacramento, CA|38.5810606| -121.493895|  466418.0|  393188.0|   84.29949101449773|        73230.0|
|     sanjose20171111|2017-11-11|       34|        San Jose, CA|37.3361905| -121.890583| 1097984.0|  995000.0|    90.6206283515971|       102984.0|
+--------------------+----------+---------+--------------------+----------+------------+----------+----------+--------------------+---------------+
only showing top 20 rows

In [8]:
# Store environmental variable
from getpass import getpass
password = getpass('Enter database password')
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://ucb-data-group-project-zillow.csaw135fqqkl.us-west-1.rds.amazonaws.com:5432/postgres"
config = {"user":"postgres",
          "password": password,
          "driver":"org.postgresql.Driver"}

Enter database password··········

In [9]:
# Write DataFrame to zillow_final table in RDS
us_total_df.write.jdbc(url=jdbc_url, table='zillow_final', mode=mode, properties=config)

In [10]:
# Write DataFrame to zillow_final table in RDS
ca_state_df.write.jdbc(url=jdbc_url, table='zillow_final', mode=mode, properties=config)

In [11]:
# Write DataFrame to zillow_final table in RDS
ca_city_df.write.jdbc(url=jdbc_url, table='zillow_final', mode=mode, properties=config)